@model MariosPizzerias.Web.ViewModels.OrderCreateViewModel

<div>
    <h1>Submit Your Order</h1>
    <div>
        <!--@Html.ValidationSummary()-->
        @using (Html.BeginForm())
        {
            <div>
                <label>Phone Number</label>
                @Html.TextBoxFor(m => m.OrderOwner)
            </div>
			<div>
				<label>Select Store</label>
				@Html.DropDownListFor(m => m.SelectedLocationId, 
					new SelectList(Model.Locations, "LocationId", "LocationName"), 
					"Select a Location", 
					new { @class = "form-control" }
				)
				@Html.ValidationMessageFor(m => m.Locations, "", new { @class = "text-danger" })
			</div>
			@Html.ActionLink("Add a Pizza", "CreatePizza", "Order")
			<div>Total Price: $0.00</div>
            <div>
                <input type="submit" value="Submit" />
            </div>
		}
    </div>
</div>