@model MariosPizzerias.Web.ViewModels.OrderCreateViewModel

<div>
    <h1>Submit Your Order</h1>
    <div>
        <!--@Html.ValidationSummary()-->
        @using (Html.BeginForm())
        {
            <div>
                <label>Your Name</label>
                @Html.TextBoxFor(m => m.OrderOwner)
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
		}
    </div>
</div>