@model MariosPizzerias.Web.ViewModels.OrderPageViewModel

<label>Your Name: </label>
<div>@Model.Order.OrderOwner<div>
		
<label>Order Status: </label>
<div>@Model.Order.OrderStatus<div>
				
<label>Total Price: </label>
<div>@Model.Order.OrderPrice<div>
						
<div>
    @Html.ActionLink("Order", "Index")
</div>
